<embed width="100%" height="90%" name="plugin" src="<%= @filepath %>" type="application/pdf" style="min-height: 550px;">
    <noembed>
        <a href="<%= @filepath %>"><%= t('popup.download') %></a><br><%= t('popup.noembed').html_safe %>
    </noembed>
</embed>