<script src="http://api-maps.yandex.ru/1.1/index.xml?key=ALdwFlEBAAAAhkeiKgIA1rspI2AMD3GuycBn-x0k1GMVrrAAAAAAAAAAAACfNHK0UAn3Cj8XnIIaCX8lrjakrQ==" type="text/javascript"></script>
<script type="text/javascript">
    YMaps.jQuery(function () {
        var map = new YMaps.Map(YMaps.jQuery("#YMapsID")[0]);
        map.addControl(new YMaps.Zoom());
        map.setCenter(new YMaps.GeoPoint(37.571058,55.816318), 16);
        placemark = new YMaps.Placemark(new YMaps.GeoPoint(37.571058,55.816318));
        placemark.name = "<%= I18n.t('fullname') %>";
        placemark.description = "<%= I18n.t('address') %>";
        map.addOverlay(placemark);
    })
</script>
<div id="YMapsID" style="width:600px;height:400px"></div>