/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *                                       `
 *= require_self
 *= require fancybox/jquery.fancybox
 *= #require_tree .
*/
/*
#page{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
*/

td {font-family:Arial,Tahoma;font-size:2px;}
.page {font-size: 12px;}
.page td{font-size: 12px;}
.alert{font-size: 12px;}
a {font-family:'Times New Roman','Times';font-size:16px;color:#604089;text-decoration:underline; display: inline;}
a:active {font-size:16px;color:#604089;text-decoration:underline}
a:visited {font-size:16px;color:#604089;text-decoration:underline}
a:hover {font-size:16px;color:#9174B5;text-decoration:none}

img {border: none;}

.inactive-ref {font-family:Arial,Tahoma;color:#604089;text-decoration:none}

.search {font-family:Arial,Tahoma;font-size:9px;letter-spacing:0px;text-decoration:underline;color:#3D2259;}
.search:link {font-family:Arial,Tahoma;font-size:9px;letter-spacing:0px;text-decoration:underline;color:#3D2259;}
.search:active {font-family:Arial,Tahoma;font-size:9px;letter-spacing:0px;text-decoration:underline;color:#3D2259;}
.search:visited {font-family:Arial,Tahoma;font-size:9px;letter-spacing:0px;text-decoration:underline;color:#3D2259;}
.search:hover {font-family:Arial,Tahoma;font-size:9px;letter-spacing:0px;text-decoration:none;color:#742FAC;}

.headers1 {font-family:Arial,Tahoma;font-size:19px;letter-spacing:0px;color:#595959;text-weight:bold;}
.headers1:link {font-family:Pragmatica,Arial,Tahoma;font-size:19px;letter-spacing:0px;color:#595959;text-weight:bold;}
.headers1:active {font-family:Pragmatica,Arial,Tahoma;font-size:19px;letter-spacing:0px;color:#595959;text-weight:bold;}
.headers1:visited {font-family:Pragmatica,Arial,Tahoma;font-size:19px;letter-spacing:0px;color:#595959;text-weight:bold;}
.headers1:hover {font-family:Pragmatica,Arial,Tahoma;font-size:19px;letter-spacing:0px;text-decoration:none;color:#595959;text-weight:bold;}

.copyright {font-family:Arial,Tahoma;font-size:10px;color:#ffffff;letter-spacing:-1px;}
.copyright:link {font-family:Arial,Tahoma;font-size:10px;color:#B8B8B8;letter-spacing:-1px;}
.copyright:active {font-family:Arial,Tahoma;font-size:10px;color:#B8B8B8;letter-spacing:-1px;}
.copyright:visited {font-family:Arial,Tahoma;font-size:10px;color:#B8B8B8;letter-spacing:-1px;}
.copyright:hover {font-family:Arial,Tahoma;font-size:10px;color:#B8B8B8;text-decoration:none;letter-spacing:-1px;}

.menu {font-family:Arial,Tahoma;font-size:12px;color:#000000}
.menu:active {font-size:12px;color:#000000}
.menu:visited {font-size:12px;color:#000000}
.menu:hover {font-size:12px;color:#404040}

.submenu1 {font-family:Arial,Tahoma;font-size:11px;color:#999999}
.submenu1:active {font-size:11px;color:#999999}
.submenu1:visited {font-size:11px;color:#999999}
.submenu1:hover {font-size:11px;color:#742FAC}


.advshelp {font-family:Arial,Tahoma;font-size:12px;color:#404040;}
.searchbut {font-family:Arial,Tahoma;font-size:11px;background-color:#404040; color:white; height:21px; border: solid 0px #ffffff;}

.left_announce {font-family:Arial,Tahoma;font-size:12px;letter-spacing:0px;color:black;padding: 10px;}

.menutitle
{
    cursor:pointer;
    margin-bottom:0px;
    margin-left:0px;
    color:#000000;
}

.submenu{
    margin-bottom: 2px;
    margin-left:28px;
}

span.position {color:#606060;}
span.proizvod {font-size:9px; color:#606060;}
span.desc {font-size:12px; color:#000000;}
a.lname {font-weight:bold; text-decoration:underline;}
a.lname:hover {font-weight:bold; text-decoration:none;}

.conts {color:#3D2259; font-weight:bold;}
.conto {color:#000000;}

table.sport TD {text-align: center}
P.text {text-align: justify}

/* таблицы с данными */
TABLE.data {border: 1px solid silver; border-bottom: none; border-right: none;}
TABLE.data TD {font-family:Arial,Tahoma; font-size:11px; color:gray; border-bottom: 1px solid silver; border-right: 1px solid #E3E3E3;}
TD.data2 {font-family:Arial,Tahoma; font-size:11px; color:gray; border-bottom: 1px solid silver; border-right: 1px solid silver; background: #F0F0F0;}
TD.data3 {font-family:Arial,Tahoma; font-size:11px; color:gray; border-bottom: 1px solid silver; border-right: 1px solid silver; background: #CECECE;}

/* жирные выделения, для частей где расположены контакты консультантов и менеджеров (внизу страниц) */
b.manager {color: #A07878;}

.toplink{
    font-size: 12px;
    position: absolute;
    overflow: visible;
    left: 45px;
    top: 5px;
    text-decoration: underline;
}
.onmain{
    overflow: visible;
}
.onmain a{font-family:Arial,Tahoma;color:#FFFFFF;text-decoration: none;}
.onmain a:active {color:#FFFFFF;text-decoration: none;}
.onmain a:visited {color:#FFFFFF;text-decoration: none;}
.onmain a:hover {color:#FFFFFF;text-decoration: none;}

.lang{
    font-size: 12px;
    position: absolute;
    overflow: visible;
    top: 3px;
}
.lang1{
    right: 178px;
}
.lang2{
    left: 95px;
}
.lang3{
    left: 155px;
}